{{ partial:layout/section class="bg-mocha text-white" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Ausbau" class="text-white" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
      
      {{ partial:components/headings/h3 title="Bodenbeläge" class="text-white" }}
      <p>Boden in Wohnung: Riemenparkett (MONOPARK R) Eiche, matt versiegelt, parallel verlegt<br>Nasszellen (Badezimmer und Waschküche UG): Feinsteinzeugplatten (SABAG Modico), unglasiert, (anthrazit), matt</p>
      
      {{ partial:components/headings/h3 title="Wandbeläge und Decken" class="text-white" }}
      <p>Wände: Abrieb, weiss gestrichen<br>Decken: Weissputzdecken, weiss gestrichen<br>Nasszellen: Feinsteinzeugplatten unglasiert, SABAG Modico (beige)<br>Küchenrückwände: Feinsteinzeugplatten unglasiert, SABAG Modico (hellgrau)</p>

      {{ partial:components/headings/h3 title="Küche" class="text-white" }}
      <p>Bodenbeläge: Feinsteinzeugplatten (SABAG Modico) , unglasiert, (anthrazit), matt<br>Küchenrückwand: Feinsteinzeugplatten unglasiert, SABAG Modico (hellgrau)<br>Einbauschränke: Kunstharzfronten antitouch, Sahara<br>Arbeitsplatte: Granit (Carbon Grey)<br>Geräte: Glaskeramik, Dunstabzug (Flachschirmhaube), Geschirrspüler und Kühl-/ Gefriergerät Marke Siemens</p>
      
      {{ partial:components/headings/h3 title="Badezimmer" class="text-white" }}
      <p>Bodenbeläge: Feinsteinzeugplatten (SABAG Modico) , unglasiert, (anthrazit), matt<br>Sanitärapparate: Keramik weiss<br>Spiegelschrank: weiss mit LED<br>Armaturen: Chromeline<br>Badewanne oder Dusche mit Vorhangstange</p>

      {{ partial:components/headings/h3 title="Aussenfläche" class="text-white" }}
      <p>Boden Sitzplatz: Zementplatten, Eingezäunter Garten<br>Boden Balkon: Beton<br>Balkongeländer: Metallkonstruktion, pulverbeschichtet (seidenmatt)<br>Trennwände: Rahmenkonstruktion aus Aluminium mit Cellon (black velevet) <br>
        Wasseranschluss in EG-Wohnungen vorhanden</p>

      {{ partial:components/headings/h3 title="Fenster" class="text-white" }}
      <p>Kunststofffenster: 3-fach verglast, innen weiss, aussen pulverbeschichtet anthrazit grau<br>Vorhangbrett: zwei Vorhangschienen</p>

      {{ partial:components/headings/h3 title="Storen und Sonnenschutz" class="text-white" }}
      <p>Fenster: Verbundraffstoren (Grauton)<br>Balkone Gelenkarmmarkisen ohne Volant (Grauton), Handkurbel</p>

      {{ partial:components/headings/h3 title="Elektroanlagen" class="text-white" }}
      <p>Sonnerie: Gegensprechanlage<br>Küche und Korridor in Attika-Geschoss: LED-Einbauspots<br>Multimedia-Verteiler im Eingangsbereich<br>Glasfaser: in jeder Wohnung, Mieter wählt selbständig zwischen den Anbietern und schliesst ein Abonnement ab<br>Internetangebot: Swisscom und Sunrise (UPC, Cablecom)<br>Mehrere 3-fach Steckdosen und Schalter in den Räumen<br>Aussenfläche: Steckdose</p>

      {{ partial:components/headings/h3 title="Heizungs- und Lüftungsanlagen" class="text-white" }}
      <p>Beheizung: mittels Heizkörper, Gasheizung<br>Beheizung in Attikageschoss: Fussbodenheizung<br>Die Abluft (Küche und Nasszellen) erfolgt über das Dach. Frischluftzufuhr über Aussenluftdurchlass über den Fenstern</p>

      {{ partial:components/headings/h3 title="Liftanlagen" class="text-white" }}
      <p>Pro Haus ein Personenaufzug für max. 6 Personen, rollstuhlgängig</p>

      {{ partial:components/headings/h3 title="Keller" class="text-white" }}
      <p>Pro Wohnung ein Kellerabteil, mit Steckdose auf Wohnungszähler, Schliessung mit Zylinder auf Wohnungsschliessung</p>

      {{ partial:components/headings/h3 title="Waschküche und Trocknungsraum" class="text-white" }}
      <p>Jede Wohnung verfügt Im Untergeschoss über eine Waschmaschine und einen Trockner Marke Siemens<br>Die Attika-Wohnungen haben einen Waschturm in der Wohnung in der Nasszelle<br>Trocknungsraum im UG pro Haus mit Secomat</p>

      {{ partial:components/headings/h3 title="Entsorgung" class="text-white" }}
      <p>4 Container in der Überbauung, Abstellflächen für Karton- und Zeitungslagerung vorhanden</p>
      
      {{ partial:components/headings/h3 title="Veloabstellplätze" class="text-white" }}
      <p>Aussenabstellplätze, Veloräume mit zahlreichen Abstellplätzen 2 Ladestationen für E-Bikes (Steckdosen)</p>

      {{ partial:components/headings/h3 title="Parking" class="text-white" }}
      <p>27 Einstellhallenplätze, welche mit E-Ladestationen nachgerüstet werden können</p>

      {{ partial:components/headings/h3 title="Bastelräume" class="text-white" }}
      <p>Vier Bastelräume im UG</p>

      {{ partial:components/headings/h3 title="Umgebung" class="text-white" }}
      <p>Begrünte Aussenanlage mit Sitzbänken und Spielplatz</p>

      <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
        <div>
          <a 
            href="/assets/downloads/sennheimerstrasse-basel.ch-kurzbaubeschrieb.pdf" 
            target="_blank" 
            title="Kurzbaubeschrieb"
            class="bg-sand text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-white transition-all">
            <span class="block leading-none">Kurzbaubeschrieb</span>
          </a>
        </div>
        <div>
          <a 
            href="/assets/downloads/sennheimerstrasse-basel.ch-facts-figures.pdf" 
            target="_blank" 
            title="Facts & Figures"
            class="bg-sand text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-white transition-all">
            <span class="block leading-none">Facts & Figures</span>
          </a>
        </div>
      </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-2" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-3" alt="" wrapperClass="mb-20 lg:mb-40" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}