{{ partial:layout/section }}
  {{ partial:components/swiper/wrapper }}
    {{ partial:components/swiper/slide image="sennheimerstrasse-basel.ch-2" alt="" }}
    {{ partial:components/swiper/slide image="sennheimerstrasse-basel.ch-1" alt="" }}
    {{ partial:components/swiper/slide image="sennheimerstrasse-basel.ch-3" alt="" }}
  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
{{ partial:layout/inner }}
  {{ partial:components/headings/h1 title="Wohnen im schönen Gotthelfquartier" }}
  <div class="max-w-2xl">
    <p>Im Gotthelf Quartier, einer charmanten und ruhigen Gegend nahe dem Stadtkern Basel, entstehen moderne und frisch sanierte 2.5- bis 4.5-Zimmer-Wohnungen, welche ab 1. Dezember 2024 bezogen werden können. Die Wohnüberbauung an der Sennheimerstrasse umfasst insgesamt 34 Wohnungen, die sich auf vier Etagen und drei separate Hauseingänge verteilen. Zusätzlich gibt es private Aussenbereiche, Einstellplätze und einen idyllischen Spielplatz.</p>
    <p>Nicht nur die ruhige Lage und die Nähe zum Stadtzentrum zeichnen die Überbauung aus, sondern auch die vielfältige Auswahl an Wohnungen und Aussenbereichen. Die Nähe zum Schützenmattpark, die hervorragende Infrastruktur und die schnelle Anbindung an den öffentlichen Verkehr machen die Sennheimerstrasse zu einem attraktiven Wohnort für Menschen aller Altersgruppen.</p>
  </div>
  <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
    <div>
      <a 
        href="/angebot" 
        title="Angebot anzeigen"
        class="bg-mocha text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-almond transition-all">
        <span class="block leading-none">Angebot</span>
      </a>
    </div>
  </div>
{{ /partial:layout/inner }}
{{ /partial:layout/section }}