{{ partial:layout/section }}
  {{ partial:components/media/visual image="sennheimerstrasse-basel-10" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Lage" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
        <p>Im kleinen, aber schönen Gotthelf Quartier, mit der Nähe zum Stadtkern Basel, befindet sich die Sennheimerstrasse. Die Gegend zeichnet sich durch den wenigen Verkehr und die Grüne Lage aus. In der näheren Umgebung der Überbauung befinden sich zahlreiche Einkaufsmöglichkeiten, Restaurants, Sporteinrichtungen und Schulen, die das tägliche Leben der Bewohner bereichern. Der wunderschöne Schützenmattpark ist zu Fuss in wenigen Minuten erreichbar, ideal für Freizeit und Erholung.</p>
        <p>Die gute Anbindung an den öffentlichen Verkehr am Wieland- und Allschwilerplatz ist für Pendler von grossem Vorteil. In nur fünf Minuten zu Fuss erreicht man diese wichtigen Verkehrsknotenpunkte. Mit dem Tram gelangt man innerhalb von sieben Minuten zum Bahnhof SBB. Der Autobahnanschluss ist in zehn Minuten erreichbar.</p>
        <div class="mt-15 lg:mt-30 flex space-x-15 lg:space-x-25">
          <div>
            <a 
              href="https://maps.app.goo.gl/GpQ6jVA6wQinkn98A" 
              target="_blank" 
              title="Google Maps"
              class="bg-mocha text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-lato-black font-black tracking-wider flex items-center w-full justify-center hover:brightness-110 hover:text-almond transition-all">
              <span class="block leading-none">Google Maps</span>
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="sennheimerstrasse-basel-11" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}