{{ partial:layout/section }}
  {{ partial:components/media/visual image="sennheimerstrasse-basel.ch-2" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section class="bg-almond" }}
  {{ partial:layout/inner }}
    {{ partial:components/headings/h1 title="Projekt" }}
    {{ partial:layout/grid }}
      {{ partial:layout/span }}
      <p>Mit dem Projekt Sennheimerstrasse werden an ruhiger Lage frisch sanierte 2.5- bis 4.5-Zimmer-Wohnungen verfügbar. Die Wohnungen, welche auf drei zusammenhängende Häuser verteilt sind, bieten zeitgemässes und komfortables Wohnen an. Die begrünte Aussenanlage, welche mit einem Spielplatz und Sitzbänken ausgestattet ist, lädt zum Verweilen und Geniessen ein.</p>
      <p>Die Mietwohnungen überzeugen mit klaren Linien, gut möblierbaren Grundrissen und attraktiven, privaten Aussenbereichen. Eine nahezu einzigartige Gelegenheit im Gotthelf Quartier bieten die Erdgeschoss-Wohnungen mit einem eigenen, eingezäunten Garten. Die neu gebauten Attika-Wohnungen verfügen jeweils über eine grosse Terrasse mit Weitblick über Basel.</p>
      <p>Die zentrale und begehrte Lage in Grossbasel bietet den Bewohnern den Vorteil von kurzen Wegen innerhalb der Stadt Basel. Mit einer hervorragenden Infrastruktur und exzellenten Anbindungen an den öffentlichen Verkehr sind alle Dienstleister des täglichen Bedarfs bequem erreichbar.</p>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-1" alt="" wrapperClass="mb-20 lg:mb-40" }}
        {{ partial:components/media/image image="sennheimerstrasse-basel.ch-3" alt="" }}
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}