<div class="sticky top-80 py-20 z-50 w-full bg-white md:hidden">
  {{ partial:objects/iso class="h-150 w-auto block overflow-visible" }}
</div>

{{ partial:layout/grid }}
    
  {{ partial:layout/span class="hidden md:block md:!col-span-5 lg:!col-span-6 md:pt-30 lg:pt-50" }}
    {{ partial:objects/iso class="sticky top-120 w-full h-auto block mb-40 lg:mb-80 py-[12%] -my-[12%] overflow-visible" }}
  {{ /partial:layout/span }}

  {{ partial:layout/span class="!col-span-full md:!col-span-7 lg:!col-span-6 relative z-20" }}
    {{ nocache }}
      {{ apartments:get }}
        {{ partial:objects/building 
          :apartments="apartments:building_1" 
          :title="addresses:building_1"
          :date="reference_date:building_1"
          building="01" }}

        {{ partial:objects/building 
          :apartments="apartments:building_2" 
          :title="addresses:building_2"
          :date="reference_date:building_2"
          building="02" }}

        {{ partial:objects/building 
          :apartments="apartments:building_3" 
          :title="addresses:building_3"
          :date="reference_date:building_3"
          building="03" }}
          
      {{ /apartments:get }}
    {{ /nocache }}
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}