<thead class="border-b border-b-almond {{ class }}">
  <tr class="sticky top-260 bg-white md:relative md:bg-transparent md:top-0 z-60 [&>th]:py-12 [&>th]:align-middle [&>th]:leading-none [&>th]:font-lato-black [&>th]:font-black [&>th]:text-mocha">
    <th class="text-left w-[12%] sm:w-[12%]">Nr.</th>
    <th class="text-left w-[12%] sm:w-[8%]">Etage</th>
    <th class="text-left w-[4%]">Zi</th>
    <th class="text-right w-[8%]">HNF m<sup>2</sup></th>
    {{# <th class="text-right w-[8%]">AF m<sup>2</sup></th> #}}
    <th class="text-right w-[10%] sm:w-[16%]">Brutto MZ/MT</th>
    <th class="text-center w-[10%]">Grundriss</th>
    <th class="text-right w-[12%]">Anmeldung</th>
  </tr>
</thead>